.git
.gitignore
.vs
.vscode
bin
obj
.env
.env.local
.env.*.local
*.log
*.user
.DS_Store
node_modules
coverage
dist
build
*.md
!README.md
.github
.dockerignore
Dockerfile
docker-compose*.yml
.gitattributes
